<?xml version='1.0' encoding='utf-8'?>
<widget id="at.wifiwien.myhelloapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>MyHelloApp</name>
  <description>Tut nix</description>
  <author email="support@wifiwien.at" href="http://www.wifiwien.at">
    Wifiwien
  </author>
  <content src="index.html" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="android-minSdkVersion" value="14" />

  <icon src="icon.png" />

  <platform name="android">
  </platform>

</widget>
